#nav-bar {
    border-top: 5px solid #70d3d6;
    border-bottom: 2px solid #70d3d6;
}

#nav-bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

#nav-bar > ul > li {
    float: left;
}

#nav-bar > ul > li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-btn-line {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #70d3d6;
}

#nav-btn-line:before,
#nav-btn-line:after {
    content: "";
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #70d3d6;
}

#nav-btn-line:before {
    position: absolute;
    top: 8px;
}

#nav-btn-line:after {
    position: absolute;
    bottom: 8px;
}

#nav-btn-line-div {
    float: right !important;
    margin-right: 20px;
}

#nav-btn-line-div::before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background: #f00;
}

.index-footer {
    /* 設定footer的高度 */
    /*height: 40px;*/
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
    border-top: 2px solid #70d3d6;
    padding-top: 15px;
}

.index-footer > p {
    text-align: right;
}
