.currnent-path {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.currnent-path p {
    color: #723000;
}

.about-catch {
	position: relative;
    top: 0;
    left: 0;
    margin: auto;
    display: block;
}

.about-text {
	position: relative;
    top: 25px;
    left: 0;
    margin: auto;
    display: block;
}

.about-main-pic {
	position: relative;
    top: 65px;
    left: 0;
    margin: auto;
    display: block;
}

.about-main {
	position: relative;
    top: 100px;
    left: 0;
    margin: auto;
    display: block;
}

/*0616 james*/
.about-catch,
.about-text,
.about-main-pic,
.about-main{
    opacity: 0;
    transition: all 1s ;
}
.about-main{
    transform: translateY(100px);
}

*.active{
    opacity: 1;
    transform: none;
}

/*0616 james end*/

.about-return {
    margin: auto;
    display: block;
    margin-top: 150px;
    margin-bottom: -105px;
}