#content {
    height: auto !important;
}

.currnent-path {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.currnent-path p {
    color: #723000;
}

.green-line {
    width: 90%;
    height: 1px;
    background: #a3b932;
    margin: 20px auto;
}

.event-equipment {
    margin-top: 30px;
}

.event-taiwan {
    margin-top: 30px;
}

.event-rule {
    margin-top: 30px;
    margin-right: 20px;
}

.event-rule > img {
    width: 100%;
}

.activitie {
    margin-top: 30px;
}

.product-intro-group > img {
    position: absolute;
    top: 0;
    left: 0;
}

.pretty-pics {
    margin-top: 30px;
}

.pretty-pics > img {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #666;
    padding: 3px;
}

.activity-group {
    margin-top: 30px;
}

.activity-group-text {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.activity-group-text > p {
    display: inline-block;
    color: #376600;
    word-wrap: break-word;
    line-height: 25px;
}

.event-event-btn {
    display: inline-block;
}

.event-map-btn {
    position: relative;
    display: inline-block;
}


/*0615 james*/

.product-intro-group {
    margin-top: 30px;
    position: relative;
    /*height: 850px;*/
}

#product-info-window {
    margin-left: 2px;
    margin-top: -4px;
}


/*0615 james end*/


/*0616 james */

.event-event-btn,
.activitie {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.event-map-btn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.3s;
}

*.active {
    opacity: 1 !important;
    transform: none!important;
}


/*0616 james end*/

.product-intro-more {
    position: absolute;
    left: 440px !important;
    z-index: 10;
}

.product-intro-more-pos1 {
    /*270 height diff*/
    top: 275px !important;
}

.product-intro-more-pos2 {
    top: 548px !important;
}

.product-intro-more-pos3 {
    top: 818px !important;
}


/*0616 james */

.event-map-btn img:nth-of-type(2) {
    position: absolute;
    top: 11px;
    left: 33px;
    animation: up_down 3s infinite;
}

.event-event-btn,
.activitie {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.event-map-btn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.3s;
}

*.active {
    opacity: 1 !important;
    transform: none!important;
}

.event-event-btn,
.activitie {
    animation: shake 3s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(5deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    15% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    0% {
        transform: rotate(0deg);
    }
}

@keyframes up_down {
    0% {
        transform: translateY(2px);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
}


/*0616 james end*/

.event-wording {
    color: #336600;
    width: 90%;
    margin-top: 20px;
}

.go-to-record {
    color: #ff9900;
    text-decoration: underline;
    font-size: 30px;
    margin-left: 75px;
}
