.currnent-path {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.currnent-path p {
    color: #723000;
}

.green-line {
    width: 90%;
    height: 1px;
    background: #a3b932;
    margin: 20px auto;
}

.event-equipment {
    margin-top: 30px;
}

.event-taiwan {
    margin-top: 30px;
}

.event-rule {
    margin-top: 30px;
    margin-right: 20px;
}

.event-rule > img {
    width: 100%;
}

.activitie {
    margin-top: 30px;
}

.product-intro-group > img {
    position: absolute;
    top: 0;
    left: 0;
}

.pretty-pics {
    margin-top: 30px;
}

.pretty-pics > img {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #666;
    padding: 3px;
}

.activity-group {
    margin-top: 30px;
}

.activity-group-text {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.activity-group-text > p {
    display: inline-block;
    color: #376600;
    word-wrap: break-word;
    line-height: 25px;
}

.event-event-btn {
    display: inline-block;
}

.event-map-btn {
    display: inline-block;
}


/*0615 james*/

.product-intro-group {
    margin-top: 30px;
    position: relative;
    /*height: 850px;*/
}

#product-info-window {
    margin-left: 2px;
    margin-top: -4px;
}


/*0615 james end*/

/*0616 james */

.event-event-btn,
.activitie{
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.event-map-btn{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.3s;
}

*.active{
    opacity: 1 !important;
    transform:none!important;
}
/*0616 james end*/