#theme-info-window {
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;
}

#theme-info-window p {
    color: #376600;
    word-wrap: break-word;
}

#theme-info-window .show-more {
    border: 0;
    color: #376600 !important;
}

#theme-info-window > .info-window-wrap {
    border: 0;
}

#theme-info-window .info-window-row {
    height: 350px !important;
}

#theme-info-window .recommend-img {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #666;
    width: 210px;
    height: 210px;
}

#theme-info-window .recommend-img > img {
    max-width: 220px;
    max-height: 220px;
}

.theme-content {
    border: 0 !important;
    margin-top: 75px !important;
    max-height: 150px;
}

.theme_bg-marker {
    position: absolute;
    top: 15px;
    left: 190px;
    z-index: 10;
}

.theme_bg-marker > p {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff !important;
}

.attend-btn {
    position: absolute;
    right: 45px;
    bottom: 20px;
    z-index: 10;
}

.travel-logo {
    position: absolute;
    right: 195px;
    bottom: 20px;
    z-index: 10;
    width: 150px;
    height: 50px;
}

.fixed-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    width: 85%;
    height: 1px;
    background: #acbb22;
}

.main-friend {
    border: 1px solid #acbb22;
    border-radius: 55px;
}

.green-more {
    margin-bottom: 20px;
    margin: auto;
}

.theme-group {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.theme-type {
    display: inline-block;
}

.theme-type > p {
    color: #3e6100;
}

.fixed-main-line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: auto;
    z-index: 10;
    width: 85%;
    height: 1px;
    background: #acbb22;
}

.line-spacing {
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #acbb22;
    margin-left: 20px;
    margin-right: 20px;
}

.current-select > p {
    color: #c2171d;
}

.friend-wording {
	color: #336600;
    /*width: 95%;*/
    margin-bottom: 20px;
}
