.popup {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.popup-box {
    position: relative;
    z-index: 100;
    margin: 0 auto;
    width: 90%;
    height: 849px;
    margin: 0 auto;
    top: 55px;
    background-color: #679a01;
    background-image: url("../img/pop/recommend_bg.png");
    ;
    box-shadow: 0px 0px 100px 10px rgba(87, 69, 47, 0.5);
    border: solid 1px #C1DA75;
    border-radius: 30px;
    animation: shadow 2s infinite;
}

.recommend-bg-title {
    position: absolute;
    top: 20px;
    left: 50%;
    display: block;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.popup-opacity {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000000;
    top: 0;
    opacity: 0.5;
}

.img_box {
    margin-top: 30px;
    text-align: center;
}

.upload-img-theme {
    position: relative;
    width: 180px;
    height: 180px;
    display: inline-block;
    /*background: #679a01;*/
    background: #fff;
    border: 2px solid #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.upload-img-theme > img {
    max-width: 165px;
    max-height: 165px;
}

.theme-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    display: block;
}

.img_fileToUpload {
    /*border: 1px solid #fff;*/
}

.remove-icon {
    position: absolute;
    top: -25px;
    right: -15px;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 1000;
    cursor: pointer;
    background-color: #C1DA75;
    border: 2px solid #fff;
    border-radius: 99em;
}

.remove-icon:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 3px;
    top: 17px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.remove-icon:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 3px;
    top: 17px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.remove-popup-icon {
    position: fixed;
    z-index: 300;
    top: 20px;
    right: 5px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: #C1DA75;
    border: 2px solid #fff;
    border-radius: 20px;
}

.remove-popup-icon:before {
    content: "";
    position: fixed;
    z-index: 300;
    top: 30px;
    right: 35px;
    width: 12px;
    height: 55px;
    background: #fff;
    border-radius: 99em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.remove-popup-icon:after {
    content: "";
    position: fixed;
    z-index: 300;
    top: 30px;
    right: 35px;
    width: 12px;
    height: 55px;
    background: #fff;
    border-radius: 99em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.recommend-title {
    margin-left: 20px;
}

.recommend-title > p {
    vertical-align: bottom;
}

.recommend-title > input {
    margin-left: 10px;
    width: 345px;
    height: 35px;
}

.recommend-select {
    margin-top: 30px;
    margin-left: 20px;
}

.recommend-select > p {
    vertical-align: bottom;
}

.recommend-select > select {
    margin-left: 10px;
    width: 170px;
    height: 35px;
    font-size: 22px;
}

.recommend-textarea {
    margin-top: 30px;
    margin-left: 20px;
}

.recommend-textarea > textarea {
    resize: none;
    margin-top: 10px;
    width: 97%;
    height: 220px;
}

.display-recommend-title {
    margin-left: 20px;
    border-bottom: 0;
    text-align: left;
}

.display-recommend-title > p {
    vertical-align: bottom;
    margin-left: 0 !important;
    margin-bottom: 0;
}

.display-recommend-title > p.recommend-title-text {
    margin-left: 10px;
}

.display-recommend-select {
    margin-top: 30px;
    margin-left: 20px;
}

.display-recommend-select > p {
    vertical-align: bottom;
}

.display-recommend-select > p.recommend-select-text {
    margin-left: 10px;
}

.display-recommend-textarea {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 70px;
    width: 535px;
    height: 220px;
}

.edit-status{
    height: 220px !important;
}

.recommend-textarea-text {
    margin-top: 10px;
    line-height: 32px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#upload_btn {
    border: 0;
    background: #679a01;
}

#upload_btn p {
    position: absolute;
    font-size: 18px;
    color: #fff;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -10px;
}

.preview-btn {
    position: relative;
    z-index: 1001;
    top: -10px;
    right: -50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#edit-submit-btn-group {
    position: relative;
    z-index: 300;
    top: -10px;
    right: -50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    display: none;
}

.btn-group-img {
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1001;
}

.area-box {
    margin-top: 110px;
}

.area-box p {
    color: #fff;
    font-size: 24px;
    word-wrap: break-word;
}

.area-box input,
.area-box textarea {
    font-size: 24px;
}
