#wrap{
	/*height: 100%;*/
}

.video-zone{
	position: relative;
	display: block;
	width: 478px;
	height: 472px;
	left: 0;
	right: 0;
	margin: 0px auto;
	margin-top: 25px;
}
/*.video-pic{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}*/

.play-btn{
	position: absolute;
	width: 74px;
	height: 75px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.video-wrap:active .play-btn img{
	top: -76px;
}
.video-wrap{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.spa-btn{
	position: relative;
	width: 478px;
	height: 130px;
	left: 0;
	right: 0;
	margin: 0px auto;
	margin-top: 25px;
}

#experience-btn{
	margin-bottom: 25px;
}

.popup{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
}

.opacity{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
}

.video{
	position: fixed;
	top: 25%;
	height: 50%;
	width: 100%;
	/*margin: auto;*/
}