#content{
    border: 20px solid #fff;
    overflow: hidden;
    /*background: #000;*/
}
#blue #content{
    background-image: url('../img/experience/b_bg.jpg');
    /*background: #000;*/
}

/*.background{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -410px;
	margin-left: -910px;
}*/
/*.background{
	background-image: url('../img/experience/b_bg.png');
}*/

#yellow .background{
    margin-top: -543px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -916px;
}

#blue .background {
    height: 1362px;
    width: 1820px;
}
#blue .background img{
	width: 100%;
	height: 100%;
}

.catch{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -292px;
    margin-left: -521px;
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: -webkit-transform 1s ,opacity 1s ;
    -moz-transition: -moz-transform 1s ,opacity 1s ;
    transition: transform 1s ,opacity 1s ;
}
.catch.active{
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

#blue .catch{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -359px;
    margin-left: -686px;
}

#yellow .catch{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -147px;
    margin-left: -310px;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
    opacity: 1;
}


.people{
	position: absolute;
    bottom: 0;
    right: 50%;
    /*margin-bottom: -333px;*/
    margin-right: -618px;
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition: -webkit-transform 1s ,opacity 1s ;
    -moz-transition: -moz-transform 1s ,opacity 1s ;
    transition: transform 1s ,opacity 1s ;
}
.people.active{
    opacity: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.e-btn{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: -142px;
    width: 200px;
    height: 60px;
    opacity: 0;
}
.e-btn.active{
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
.e-btn img{
	-webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    transition: top 0.2s;
}

#blue .e-btn{
    margin-top: 25px;
    margin-left: -252px;
}

#yellow .e-btn{
    margin-top: -45px;
    margin-left: -308px;
}

#light-big-1{
    position: absolute;
    top: -150px;
    left: -150px;

    /*transform-origin:0% 0%;*/
    animation: light-big-move-1 8s infinite;
}
#light-big-2{
    position: absolute;
    top: 0;
    right: 0;

    transform-origin:100% 0%;
    animation: light-big-move-2 10s infinite;
}

.light,.light-new,.ripple,.ripple-new{
	position: absolute;
    opacity: 0;

}
.light-new{
    -webkit-animation: light-move 2s ease infinite;
    -moz-animation: light-move 2s ease infinite;
    animation: light-move 2s ease infinite;
}

/*#light-1{
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -267px;
    margin-left: -400px;
    animation: light-move 4s ease 2s infinite;

}
#light-2{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -802px;
    margin-top: -374px;
    animation: light-move 20s ease 1s infinite;
}
#light-3{
    position: absolute;
    top: 50%;
    margin-top: -325px;
    margin-left: -441px;
    left: 50%;
    animation: light-move 8s ease infinite;
}
#light-4{
	position: absolute;
	top: 40%;
	right: 60%;
	animation: light-move 4s linear 3s infinite;
}
#light-5{
	position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -510px;
    margin-top: -375px;
    animation: light-move 4s linear 2s infinite;
}
#light-6{
    position: absolute;
    bottom: 50%;
    right: 50%;
    margin-right: -803px;
    margin-bottom: -176px;
    animation: light-move 10s ease 1s infinite;
}
#light-7{
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -354px;
    margin-bottom: -120px;
    animation: light-move 6s ease 3s infinite;
}*/

.bubble,.bubble-new{
    position: absolute;
    bottom: -100px;
}

#bubble-1{
	left: 10%;
	-webkit-animation: bubble-2 7s ease-in 0s infinite;
    -moz-animation: bubble-2 7s ease-in 0s infinite;
    animation: bubble-2 7s ease-in 0s infinite;
}
#bubble-2{
	right: 3%;
	-webkit-animation: bubble-2 15s cubic-bezier(0.42,0,0.58,1) 2s infinite;
    -moz-animation: bubble-2 15s cubic-bezier(0.42,0,0.58,1) 2s infinite;
    animation: bubble-2 15s cubic-bezier(0.42,0,0.58,1) 2s infinite;
}
#bubble-3{
	left: 30%;
	-webkit-animation: bubble-3 10s ease 0s infinite;
    -moz-animation: bubble-3 10s ease 0s infinite;
    animation: bubble-3 10s ease 0s infinite;
}
#bubble-4{
	left: 70%;
	-webkit-animation: bubble-2 10s ease-in-out 2s infinite;
    -moz-animation: bubble-2 10s ease-in-out 2s infinite;
    animation: bubble-2 10s ease-in-out 2s infinite;
}
#bubble-5{
	left: 0%;
	-webkit-animation: bubble-5 10s cubic-bezier(0.42,0,0.58,1) 6s infinite;
    -moz-animation: bubble-5 10s cubic-bezier(0.42,0,0.58,1) 6s infinite;
    animation: bubble-5 10s cubic-bezier(0.42,0,0.58,1) 6s infinite;
}
#bubble-6{
	left: 35%;
	-webkit-animation: bubble-4 6s ease-in 20s infinite;
    -moz-animation: bubble-4 6s ease-in 20s infinite;
    animation: bubble-4 6s ease-in 20s infinite;
}
#bubble-7{
	left: 5%;
	-webkit-animation: bubble-2 12s ease-in 6s infinite;
    -moz-animation: bubble-2 12s ease-in 6s infinite;
    animation: bubble-2 12s ease-in 6s infinite;
}
#bubble-8{
	left: 95%;
	-webkit-animation: bubble-3 9s ease-in 5s infinite;
    -moz-animation: bubble-3 9s ease-in 5s infinite;
    animation: bubble-3 9s ease-in 5s infinite;
}
#bubble-9{
	left: 44%;
	-webkit-animation: bubble-3 25s ease-in 10s infinite;
    -moz-animation: bubble-3 25s ease-in 10s infinite;
    animation: bubble-3 25s ease-in 10s infinite;
}

.feather,.feather-new{
	position: absolute;
	top: -100px;
    z-index: 100;
}

/*--------------bubble animation---------------*/

-webkit-@keyframes bubble-1{

    0%{ -webkit-transform: translate(0,0); }

    100%{ -webkit-transform: translate(30px,-1000px); }
}
-moz-@keyframes bubble-1{

    0%{ -moz-transform: translate(0,0); }

    100%{ -moz-transform: translate(30px,-1000px); }
}
@keyframes bubble-1{

    0%{ transform: translate(0,0); }

    100%{ transform: translate(30px,-1000px); }
}

-webkit-@keyframes bubble-2{

    0%{ -webkit-transform: translate(0,0); }

    20%{ -webkit-transform: translate(20px,-200px); }

    32%{ -webkit-transform: translate(-35px,-350px); }

    35%{ -webkit-transform: translate(-35px,-380px); }

    50%{ -webkit-transform: translate(-35px,-500px); }

    70%{ -webkit-transform: translate(-35px,-1000px); }

    100%{ -webkit-transform: translate(30px,-1000px); }
}
-moz-@keyframes bubble-2{

    0%{ -moz-transform: translate(0,0); }

    20%{ -moz-transform: translate(20px,-200px); }

    32%{ -moz-transform: translate(-35px,-350px); }

    35%{ -moz-transform: translate(-35px,-380px); }

    50%{ -moz-transform: translate(-35px,-500px); }

    70%{ -moz-transform: translate(-35px,-1000px); }

    100%{ -moz-transform: translate(30px,-1000px); }
}
@keyframes bubble-2{

    0%{ transform: translate(0,0); }

    20%{ transform: translate(20px,-200px); }

    32%{ transform: translate(-35px,-350px); }

    35%{ transform: translate(-35px,-380px); }

    50%{ transform: translate(-35px,-500px); }

    70%{ transform: translate(-35px,-1000px); }

    100%{ transform: translate(30px,-1000px); }
}

-webkit-@keyframes bubble-3{

    0%{ -webkit-transform: translate(0,0); }

    100%{ -webkit-transform: translate(30px,-1000px); }
}
-moz-@keyframes bubble-3{

    0%{ -moz-transform: translate(0,0); }

    100%{ -moz-transform: translate(30px,-1000px); }
}
@keyframes bubble-3{

    0%{ transform: translate(0,0); }

    100%{ transform: translate(30px,-1000px); }
}

-webkit-@keyframes bubble-4{

    0%{ -webkit-transform: translate(0,0); }

    10%{ -webkit-transform: translate(0,-100px); }

    35%{ -webkit-transform: translate(-10px,-300px); }

    100%{ -webkit-transform: translate(30px,-1000px); }
}
-moz-@keyframes bubble-4{

    0%{ -moz-transform: translate(0,0); }

    10%{ -moz-transform: translate(0,-100px); }

    35%{ -moz-transform: translate(-10px,-300px); }

    100%{ -moz-transform: translate(30px,-1000px); }
}
@keyframes bubble-4{

    0%{ transform: translate(0,0); }

    10%{ transform: translate(0,-100px); }

    35%{ transform: translate(-10px,-300px); }

    100%{ transform: translate(30px,-1000px); }
}

-webkit-@keyframes bubble-5{

    0%{ -webkit-transform: translate(0,0); }

    10%{ -webkit-transform: translate(20px,-100px); }

    15%{ -webkit-transform: translate(0px,-150px); }

    18%{ -webkit-transform: translate(8px,-180px); }

    21%{ -webkit-transform: translate(12px,-220px); }

    50%{ -webkit-transform: translate(12px,-500px); }

    100%{ -webkit-transform: translate(30px,-1000px); }
}
-moz-@keyframes bubble-5{

    0%{ -moz-transform: translate(0,0); }

    10%{ -moz-transform: translate(20px,-100px); }

    15%{ -moz-transform: translate(0px,-150px); }

    18%{ -moz-transform: translate(8px,-180px); }

    21%{ -moz-transform: translate(12px,-220px); }

    50%{ -moz-transform: translate(12px,-500px); }

    100%{ -moz-transform: translate(30px,-1000px); }
}
@keyframes bubble-5{

    0%{ transform: translate(0,0); }

    10%{ transform: translate(20px,-100px); }

    15%{ transform: translate(0px,-150px); }

    18%{ transform: translate(8px,-180px); }

    21%{ transform: translate(12px,-220px); }

    50%{ transform: translate(12px,-500px); }

    100%{ transform: translate(30px,-1000px); }
}

/*------------light animation--------------*/


-webkit-@keyframes light-move{

    0%{ 
        opacity: 0;
     }
    50%{
        opacity: 1;
    } 
    100%{
        opacity: 0;
    } 
}
-moz-@keyframes light-move{

    0%{ 
        opacity: 0;
     }
    50%{
        opacity: 1;
    } 
    100%{
        opacity: 0;
    } 
}
@keyframes light-move{

    0%{ 
        opacity: 0;
     }
    50%{
        opacity: 1;
    } 
    100%{
        opacity: 0;
    } 
}

@keyframes light-big-move-1{
    0%{
        /*transform: rotate(0deg);*/
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100%{
        /*transform: rotate(-45deg);*/
        opacity: 0;
    }
}
@keyframes light-big-move-2{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    100%{
        transform: rotate(30deg);
        opacity: 0;
    }
}