.logo-big{
	position: relative;
	text-align: center;
	margin-top: 50px;
}

#vip-content{
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.vip-text, #tissue{
	display: inline-block;
	vertical-align: top;
}

.vip-text{
	width: 400px;
	text-align: left;
}

.vip-text p{
	margin-top: 15px;
}


#tissue{
    position: relative;
    margin: 0 50px;
    height: 250px;
    overflow: hidden;
    width: 435px;
}

#tissue img{
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
	transition: top 1s;
}

#spa-btn{
	position: relative;
    margin-top: 100px;
    width: 100%;
    height: 50px;
    margin: 100px auto;
}
.img-wrap:hover{
	width: 755px;
}
.img-wrap:hover img{
	top: -60px !important;
}

.img-wrap{
	position: absolute;
	width: 318px;
	height: 62px;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;

	-webkit-transition: width 0.3s 0.3s;
	-moz-transition: width 0.3s 0.3s;
	transition: width 0.3s 0.3s;
}

#spa-btn img{
    position: absolute;
    top: 0;
    display: block;
    width: 745px;
    left: 50%;
    margin-left: -370px;

    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
}

.btn-btn{
	position: absolute;
	width: 215px;
	height: 62px;
	display: inline-block;
}

#btn-btn-1{
	left: 0;
}

#btn-btn-2{
	right: 0;
}
